.letter-pick {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    position: fixed;
    bottom: 20px;
}

.letter-btn {
    height: 50px;
    width: 50px;
}

.active {
    display: none;
}