.letter-pick {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    position: fixed;
    bottom: 20px;
}

.letter-btn {
    height: 50px;
    width: 50px;
}

.active {
    display: none;
}

.letter-box {
    display: flex;
    flex-direction: row wrap;
    position: fixed;
    margin-top: 20px;
    right: 150px;
    width: 200px;
    height: 180px;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 25px;

}